{
  "presets": [
    [
      "@babel/preset-env",
      { 
        "targets": {
          "browserslist": ["> 0.25%"]
        },
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
